.product_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;   
}

.product_container img {
    width: 100%;   
    margin: 5px;
}
