.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    background-image: url('../../resources/images/background_farm.webp');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-position: right bottom;
    background-position: -webkit-sticky; */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover;
}

@media screen and (max-width: 600px) {
    .banner h1 {
        font-size: 8vw !important;
    }

    .banner h4 {
        font-size: 4vw !important;
    }

    .banner_p p {
        font-size: 3vw !important;
        
    }
}



.banner h1 {
    font: 6vw barlow-medium, barlow, sans-serif;
    block-size: auto;
    margin: 0px;
}

.banner h4 {
    font: 3vw barlow-medium, barlow, sans-serif;
    line-height: 33px;
    block-size: auto;

}

.banner_p p {
    font-size: 2vw;
    line-height: 28px;
    block-size: auto;
    margin: 0px 15%;
}


.learn_more {
    padding: 20px;
}

.learn_more button {
    background-color: #F3CF50;
    padding: 15px 25px;
}







